<%- include('part/header') %>
<%- include('part/nav') %>

<h1 class="text-center mt-5">Node Js CRUD</h1>

<h3 class="text-center">--<i class="bi bi-emoji-laughing">--</i></h3>

<%- include('part/footer') %>